
nav {
  display: flex;
  justify-content: flex-end;
  background-color: #4caf50;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-left: 10px;
}

li.login {
  margin-left: auto; 
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: #ccc;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background: #f3f3f3;
  flex-direction: column;
  margin: 0;
}





.main {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

  
#pass { 
  color: red; 
  font-size: 12px; 
} 

h1 {
  color: #4caf50;
}

label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  width: 100%;
  font-size: 16px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender-options label {
  color: #555;
  flex-direction: row;
  display: inline-block;
  margin-right: 15px;
  width: 20%;
  font-size: 15px;
  text-align: left;
}

.gender-options input {
  width: 22%;
}

@media screen and (max-width: 600px) {
  .main {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  input,
  select,
  textarea {
    font-size: 14px;
  }

  button {
    font-size: 16px;
  }
}
